<% layout('layout.html', {page: 'Sales'})%>

<div class="container mx-auto mt-6 center overflow-auto">
  <div class="stats shadow">

    <div class="stat">
      <div class="stat-figure text-primary">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-8 h-8 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path></svg>
      </div>
      <div class="stat-title">Total Sales</div>
      <div class="stat-value text-primary"><%= it.sale.all.length %></div>
      <div class="stat-desc"><%= it.sale.seen.length %> seen sales</div>
    </div>

    <div class="stat">
      <div class="stat-figure text-secondary">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-8 h-8 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"></path></svg>
      </div>
      <div class="stat-title">New Sales</div>
      <div class="stat-value text-secondary"><%= it.sale.unseen.length %></div>
      <div class="stat-desc">Go check them out</div>
    </div>

    <div class="stat">
      <div class="stat-value">$<%= it.profits.profit %></div>
      <div class="stat-title">Total profit</div>
    </div>

    <div class="stat">
      <label for="my-modal-4" class="btn modal-button">Create a Store</label>
      <input type="checkbox" id="my-modal-4" class="modal-toggle" />
      <label for="my-modal-4" class="modal cursor-pointer">
        <label class="modal-box relative" for="">
          <form action="/api/store/create" method="post">
            <div class="form-control w-full max-w-xs">
              <label class="label">
                <span class="label-text">Store Name</span>
              </label>
              <input type="text" placeholder="Store Name" name="storeName" class="input input-bordered w-full max-w-xs" />
              <label class="label">
                <span class="label-text">Store Information</span>
              </label>
              <textarea class="textarea textarea-bordered" name="storeInfo" placeholder="Store Info"></textarea>
                <div class="form-control mt-6">
                <button class="btn btn-primary">Create Store!</button>
              </div>
            </div>
          </form>
        </label>
      </label>
    </div>

  </div>
</div>

<div class="container mx-auto mt-10 center overflow-auto">

  <div class="grid grid-rows-1 grid-flow-col gap-4 mt-6">
    <div class="card h-screen bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title">Recent Orders</h2>
        <div class="overflow-x-auto">
          <div class="overflow-x-auto">
            <table class="table w-full">
              <!-- head -->
              <thead>
                <tr>
                  <th></th>
                  <th>Store</th>
                  <th>Item</th>
                  <th>Receiver</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>

                <% for (var i = 0; i < it.sale.all.length; i++) { %>
                  <% n = (it.sale.all.length - 1) - i %>
                  <tr>
                    <% if (it.sale.all[n].seen == false) {%>
                    <th><span class="badge badge-xs">NEW</span></th>
                    <% }  else {%>
                    <th><%= i+1 %></th>
                    <% } %>
                    <td><%= it.sale.all[n].storeName %> </td>
                    <td><%= it.sale.all[n].itemName %> </td>
                    <td><%= it.sale.all[n].purchaserName %></td>
                    <td>
                    <% if (it.sale.all[n].seen == false) {%>
                    <form action="/api/sale/seen/<%=  it.sale.all[n].id %>" method="post">
                      <button class="btn btn-sm">Done</button>
                    </form>
                    <% } %>
                    </td>
                  </tr>
                <% } %>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="card bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title">My stores</h2>
        <div class="overflow-x-auto">
          <div class="overflow-x-auto">
            <tbody>

              <% it.stores.forEach(function(store) { if (store.owner.id == it.user.id ) {%>


                <div class="alert shadow-lg hover:bg-gray-300" onclick="location.href='/stores/<%= store.id %>'">
                  <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                      <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                    </svg>
                    <div class="ml-3">
                      <h2 class="font-bold"><%= store.storeName %></h2>
                      <div class="text-xs"><%= store.storeInfo.info %></div>
                    </div>
                  </div>
                  <div class="flex-none">
                    <a href="/stores/<%= store.id %>"><button class="btn btn-sm">Vist Store</button></a>
                    <form action="/api/store/delete/<%= store.id %>" method="post">
                      <a href="/api/store/delete/"<%= store.id %>"><button class="btn btn-sm">Delete</button></a>
                    </form>
                  </div>
                </div>

              <% }}) %>

            </tbody>
          </div>
        </div>
      </div>
    </div>

</div>




</div>
